#titulo-da-pagina {
  font-size: 50px;
  color: blue;
}

.introducao {
  color: red;
  font-size: 14px;
}

.subtitulo {
  font-size: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-da-section {
  color: white;
  font-size: 24px;
}

img {
  width: 25%;
}

#primeira-section {
  background-color: darkred;
}

#segunda-section {
  background-color: darkblue;
}

#segunda-section button {
  background-color: white;
  width: 100%;
}

#terceira-section {
  background-color: darkgreen;
}

#quarta-section {
  background-color: orange;
}

#quarta-section p {
  font-size: 2.5rem;
}